*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container {
    margin: 0 10%;
    /* margin: 0 auto; */
    /* width: 768px; */
}
.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2{
    font-size: 1.75rem;
}
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1.25rem;
}
h5{
    font-size: 1.15rem;
}
h6{
    font-size: 1rem;
}
.logo img{
    width: 100px;
}
.company-title p{
    font-size: 1rem;
    font-weight: bold;
}
.company-title h2{
    color:#0e2970;
    font-family: "Open Sans Condensed";
    font-size: 18px !important;
}
.contact a{
    color:#999;
}
/* menu  */
#navBar{
    background-color: rgba(0,0,0,.3);
    /* opacity: .3; */
}
#navBar ul{
   list-style: none;
   display: flex;
}
#navBar a{
    display: block;
    padding: .5rem 1rem;
    color: #fff;
    /* text-transform: uppercase; */
}
#navBar a:hover{
    background-color: rgba(0,0,0,0.5);
}
/* banner */
#banner img{
    width: 100%;
}