
@media (min-width: 576px) { 
    
}

@media (min-width: 768px) { 
    
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    .container{
        margin: 0 auto;
        width: 1200px;
    }
}

@media (min-width: 1400px) {
    .container{
        margin: 0 auto;
        width: 1200px;
    }
    .col-3{
        width: 25%;
    }
}